.aurls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #eaeff5;
}
.aurls-create {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  height: 550px;
  width: 70%;
  margin-bottom: 4%;
}
.aurls-cta {
  /* background-color: red; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.aurls-text {
  margin-top: 10%;
  font-size: 65px;
  width: 90%;
  text-align: left;
}

.aurls-form-container {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  width: 50%;
  height: 100%;
  align-items: flex-end;
}

.aurls-table-container {
  /* background-color: darkcyan; */
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  z-index: 10;
  position: relative;
  bottom: 80px;
}

.mid-page-banner {
  background-color: #41608e;
  height: 80px;
  width: 100vw;
  z-index: 0px;
}
