.aurls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #eaeff5;
}
.aurls-create {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  height: 550px;
  width: 70%;
}
.aurls-cta {
  /* background-color: red; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.aurls-text {
  margin-top: 10%;
  font-size: 65px;
  width: 90%;
  text-align: left;
}

.aurls-form-container {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  width: 50%;
  height: 100%;
  align-items: flex-end;
}
